@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: Rubik;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    border: 1px solid red;
}

.cookie{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    max-height: 100%;
    width: 300px;
    margin: 20px;
    background-color: black;
    border-radius: 30px;
}


.cookie>i{
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 1px solid red;
    padding: 30px;
    color: aliceblue;
    a{
        position: absolute;
        right: 0;
        top: 20px;
        transform: translateX(-200%);
        font-size: 15px;
        font-weight: 200;
        color: aliceblue;
        text-decoration: none;
    }
    a:hover{
        color: gray;
    }
}

.container{
    border: 1px solid rgb(25, 0, 255);
    color: aliceblue;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    p{
        font-size: 20px;
        font-weight: 300;
        padding: 20px;
    }
    a{
        text-decoration: none;
        text-align: center;
        color: black;
        font-weight: 400;
        font-size: 18px;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
    }
    a:hover{
        color: white;
        background-color: gray;
        transition: 0.2s;
    }
    
}

